footer {
    margin: 20px;
    padding: 20px 0;
    font-size: 15px;
    text-align: center;
}

.wh {
    position: fixed;
    height: 40px;
    bottom: 20px;
    right: 20px;
}

.f-img {
    height: 30px;
    margin: 0 50px 20px;
}
