/********** Media Queries **********/
@media (max-width: 1550px) {}
.video {
    display: flex;
}

@media (min-width: 990px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 989px) {
    .titulosplay {
        margin-top: 0;
    }

    .video {
        display: block;
    }

    .videodos,
    .videotres {
        height: 470px;
        width: 565px;
    }

}

@media (max-width: 768px) {
    .titulosplay {
        margin-top: 0;
    }

    .mapa {
        height: 450px;
    }

    .calendario {
        height: 350px;
    }

    main {
        margin: 15px;
        padding: 15px;
    }

    .f-img {
        height: 30px;
        margin: 0 25px 15px;
    }

    .video {
        display: block;
        margin: 10px;
    }

    .videodos,.videouno,
    .videotres {
        height: 215px;
        width: 300px;
    }

}